{% extends 'index.html' %}

{% load static %}

{% block navigation %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="../">Blockforum</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="new">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="search">Search</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="profile">Ciao, {{user}}!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="registration">Register</a>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}

{% block header %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'blog/img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Profile</h1>
          </div>
        </div>
      </div>
    </div>
  </header>


{% endblock %}

{% block main %}

        <div class="container" align="middle">

            <br>
            <h4><font color="green">ID : </font> {{user.id}}</h4>

            <h4><font color="green">Username : </font> {{user}}</h4>

            <h4><font color="green">Posts : </font> {{posts}}</h4>

            <h4><font color="green">Registration Date :  </font> {{user.date_joined}}</h4></h4>

        </div>

{% endblock %}